<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bvha.billing.persistence.mapper.config">
  <select id="Breakdown" resultType="map">
    select 
      id,
      amount,
      description,
      treshold
    from breakdown where group_id = #{groupId}
  </select>

  <select id="Defaults" resultType="map">
    select * from app_data
  </select>
</mapper>