<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bvha.billing.persistence.mapper.payment">
  <select id="PaymentByBillingId" resultType="hashmap" parameterType="long">
    select id,
      payment_date as paymentDate,
      receipt_no as receiptNo,
      amount
    from payment
    where billing = #{billingId}
  </select>

  <insert id="AddPayment">
    insert into payment(member, billing, amount, payment_date, receipt_no) values (#{memberId}, #{billingId}, #{amount}, #{paymentDate}, #{receiptNo})
  </insert>

  <insert id="UpdatePayment">
    update payment set member = #{memberId},
      billing = #{billingId},
      amount = #{amount},
      payment_date = #{paymentDate},
      receipt_no = #{receiptNo}
    where id = #{id}
  </insert>

  <delete id="DeletePayment">
    delete from payment where id = #{id}
  </delete>
 
</mapper>