<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bvha.billing.persistence.mapper.reports">

  <resultMap id="PaymentMap" type="hashmap">
    <id property="id" column="p_id"/>
    <result property="paymentAmount" column="paymentAmount"/>
    <result property="paymentDate" column="paymentDate"/>
    <result property="receiptNo" column="receiptNo"/>
  </resultMap>
  <resultMap id="BillMap" type="hashmap">
      <id property="id" column="id"/>
      <result property="fname" column="fname"/>
      <result property="lname" column="lname"/>
      <result property="address" column="address"/>
      <result property="assocFee" column="assocFee"/>
      <result property="prevReading" column="prevReading"/>
      <result property="currReading" column="currReading"/>
      <result property="waterAmount" column="waterAmount"/>
      <result property="previousTotal" column="previousTotal"/>
      <result property="withBond" column="withBond"/>
      <result property="otherDesc" column="otherDesc"/>
      <result property="otherAmount" column="otherAmount"/>
      <result property="currentTotal" column="currentTotal"/>
      <result property="previousPayment" column="previousPayment"/>
      <result property="grandTotal" column="grandTotal"/>
      <collection property="payments" column="b_id" ofType="hashmap" javaType="ArrayList" resultMap="PaymentMap"/>
  </resultMap>
  <select id="BillingDetailsAll" resultMap="BillMap">
    select 
      member.id as id,
      member.fname,
      member.lname,
      member.address,
      billing.id as b_id,
      billing.assoc_fee as assocFee,
      billing.prev_reading as prevReading,
      billing.curr_reading as currReading,
      billing.water_amount as waterAmount,
      billing.previous_total as previousTotal,
      billing.with_Bond as withBond,
      IFNULL(billing.other_desc,'') as otherDesc,
      billing.other_amount as otherAmount,
      billing.current_total as currentTotal,
      billing.grand_total as grandTotal,
      billing.previous_payment as previousPayment,
      payment.id as p_id,
      payment.amount as paymentAmount,
      payment.payment_date as paymentDate,
      payment.receipt_no as receiptNo
    from member inner join 
      billing_details billing on member.id = billing.member
       left outer join payment on payment.billing = billing.previous_billing_period
    where billing.BILLING_PERIOD  = #{periodId};
  </select>

  <select id="BillingDetails" resultMap="BillMap">
    select 
      member.id as id,
      member.fname,
      member.lname,
      member.address,
      billing.id as b_id,
      billing.assoc_fee as assocFee,
      billing.prev_reading as prevReading,
      billing.curr_reading as currReading,
      billing.water_amount as waterAmount,
      billing.previous_total as previousTotal,
      billing.with_Bond as withBond,
      IFNULL(billing.other_desc,'') as otherDesc,
      billing.other_amount as otherAmount,
      billing.current_total as currentTotal,
      billing.grand_total as grandTotal,
      billing.previous_payment as previousPayment,
      payment.id as p_id,
      payment.amount as paymentAmount,
      payment.payment_date as paymentDate,
      payment.receipt_no as receiptNo
    from member inner join 
      billing_details billing on member.id = billing.member
       left outer join payment on payment.billing = billing.previous_billing_period
    where billing.BILLING_PERIOD  = #{periodId}
    AND member.id in
    <foreach item="item" index="index" collection="list"
    		open="(" separator="," close=")">
    		#{item}
    	</foreach>
    ;
  </select>

  
  <select id="BillingReports" resultType="com.bvha.billing.reports.pojo.BillingReportPojo">
    SELECT 
    concat(lpad(member.id,3, '0'), ' - ' , member.LNAME , ', ' , member.fname) as name,
    curr_reading as presentReading,
    prev_reading as previousReading,
    curr_reading - prev_reading as totalConsumed,
    water_amount as amount,
    previous_total as balance,
    assoc_fee as assocFee,
    previous_payment as collection,
    grand_total as receivable
    FROM billing_details billing inner join member on billing.member = member.id where billing_period = #{periodId};
  </select>

 <select id="PaymentReports" resultType="com.bvha.billing.reports.pojo.PaymentReportPojo">
   select 
      member.id,
        concat(member.lname,', ', member.fname) as homeOwner,
        payment_date as receiptDate,
        receipt_no as receiptNumber,
        amount as receiptAmount
    from payment inner join member on member.id = payment.member
    where billing_period = #{periodId}
    and payment.payment_type = 1;
</select>

 

</mapper>